<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Confirmação de Pedido</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    <div class="perfil">
      <% if (user ) { %>
          <a href="/perfil"><%= user.nome %></a>
          
        <% } else { %>
          <a href="/login">Login</a>
        <% } %>
  </div>
    <div class="conteudo-cabecalho">
      <h1>Pizzaria Delícia</h1>
      <p>Confirmação de Pedido</p>
    </div>
  </header>

  <section class="pedido-confirmado">
    <h2>Pizzas</h2>
    <ul>
      <% for (let pizza of pizzasFilter) { %>
          <li><%= pizza.titulo %> | x<%= pizza.quantidade %></li>
      <% } %>
    </ul>

    <h2>Bebidas</h2>
    <ul>
      <% for (let bebida of bebidasFilter) { %>
          <li><%= bebida.titulo %> | x<%= bebida.quantidade %></li>
      <% } %>
    </ul>

    <h3 id="valortotaldopedido">R$<%= totalCompra.toFixed(2) %></h3>
  </section>

  <section class="botoes">
    <form action="/index" method="get">
      <button class="botao cancelar" type="submit">Cancelar</button>
    </form>
    <form action="/pedidoConfirmado" method="post">
      <input type="hidden" name="pizzas" value="<%= JSON.stringify(pizzasFilter) %>">
      <input type="hidden" name="bebidas" value="<%= JSON.stringify(bebidasFilter) %>">
      <input type="hidden" name="totalCompra" value="<%= totalCompra %>">
      <input type="hidden" name="cpf" value="<%= user.cpf %>">
      <button class="botao confirmar" type="submit">Confirmar Pedido</button>
    </form>
  </section>

  <footer class="footer_pagina_menor">
    <p>&copy; 2023 Pizzaria Delícia. Todos os direitos reservados.</p>
  </footer>
</body>

</html>