<%- include('partials/head') %>

<% if(resposta.totalItems > 0) { %>
    <h2>Livros encontrados</h2>
  
    <% for(item of resposta.items) {
        const livro = item.volumeInfo
        let autores = ""
        if (livro.authors) {
            for (let i = 0; i < livro.authors.length; i++){
                autores += livro.authors[i]
                if(i < livro.authors.length - 1){
                    autores += ", "
                } else {
                    autores += '.'
                }
            }
        }
    %>
    <div class="livro">
        <img src="<%= livro.imageLinks ? livro.imageLinks.thumbnail : 'imgs/transparent.png' %>" alt="">
        <p>Título: <%= livro.title %></p>
        <p>Autores: <%= autores %></p>
        <div>
            <% if(livro.industryIdentifiers) {
                for(isbn of livro.industryIdentifiers) { %>
                <p><%= isbn.type %>: <%= isbn.identifier %></p>
                <%  let getISBN = isbn.identifier
            }
            } %>    
        </div>
        <form action="/salvar" method="post">
            <input type="hidden" name="nome" value="<%= livro.title %>" />
            <input type="hidden" name="autor" value="<%= autores %>" />
          <button type="submit"><p>Adicionar à lista</p></button>
        </form>
    </div>
    
    <% } %>
  <% } else { %>
    <h2>Nenhum livro encontrado</h2>
  <% } %>
  <a href="/"><p id="voltar">Voltar</p></a>

                        <%- include('partials/footer') %>